.navbar{
    background-color: #515a77;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.navbar span{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
}

.navbar-text{
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
}

.banner{
    background-color: #a4332b;
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    padding: 25px 0;
}

#logo{
    height: 175px;
    width: 475px;
    filter: drop-shadow(5px 5px 5px #ffffff);
}

.generator-section{
    padding: 20px 50px;
}

#input-names-text{
    color: #a4332b;
    font-size: 50px;
}

.avatar{
    background-image: url(../images/frery\ faber.webp);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

form.calculator{
    background-color: lightgray;
    opacity: 90%;
    border: 1px solid gray;
    border-radius: 0.25rem;
    height: 275px;
    width: auto;
    padding-top: 15px;
    padding-left: 5px;
}

textarea{
    height: 200px;
    width: 300px;
    resize: none;
}

button#generate-button{
    color: #ffffff;
    height: 50px;
    width: 300px;
    background-color: #515a77;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 0.25rem;
}

#output-div{
    height: 275px;
    line-height: 210px;
    text-align: center;
}

.winnner{
    font-weight: 700;
    font-size: 3.5em;
}

.winner .text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.0.5em;
    padding-bottom: 0.15em;
}

.winner .line{
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #ffffff;
    transform-origin: 0 50%;
}

.winner .line1{
    top: 0;
    left: 0;
}

.winner.letter{
    display: inline-block;
    line-height: 1em;
}

.letters{
    /*font-family: inherit;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold{
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.blue{
    color: #a4332b;
}

#winner-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}